.address {
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.distance {
    text-align: center;
    margin-top: 3px!important;
}

.road-time {
    text-align: center;
    margin-top: 3px!important;
}